/ascii
/ascii-old
/output
/output-old
/ten
/pdfs
/periodo
/__pycache__
/vocabularies
/json
/periodo
/test-pdfs
NERchaeology-Jupyter.ipynb
plan.txt
spec.txt
discuss.txt
wget-log
driver.py
out.csv
out-*.csv
*.swp
*.swo
*.pyc
